.hero {
  height: 70vh;
  width: 100%;
}

.carousel-item {
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  padding-top: 8%;
}

.hero h1 {
  color: #fff;
  font-size: 60px;
}

.hero p {
  color: #fff;
  opacity: 0.8;
}
.carousel-item {
  transition: transform 0.5s ease-in-out; /* Faster transition */
}
